        <ul class="nav nav-justified">
          <li><a href="{% url "products" %}">Home</a></li>
          <li><a href="{% url "products" %}">Products</a></li>
          <li><a href="{% url "contact_us" %}">Contact</a></li>
          <li><a href="{% url "view_cart" %}">Cart <span class="badge badge-info">{{ request.session.cart_items }}</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
        </ul>